@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
  margin: 0; padding: 0; outline: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  background-image: url("../images/bg.png");
  background-position: fixed;
  background-attachment: fixed;


}
.clear{
  overflow: hidden;
}
.container{
  width: 960px;
  margin: 0 auto;

}
.headsection{
  height: 95px;
  background-color: #ad7612;
}
.logo{
  width: 400px;
  float: left;
}
.logo-image img {
	width: 84px;
	float: left;
	padding: 5px;
	margin-right: 15px;
}
.site-title {
	float: left;
	margin-top: 16px;
}
.site-title h2 {
	font-size: 37px;
	text-shadow: 7px 3px 2px #353535;
	color: #fff;
}
.site-title p {
	color: #fff;
	font-size: 16px;
	margin-left: 10px;
}
.social {
	width: 304px;
	float: right;
	padding-top: 9px;
}
.social img {
	width: 70px;
}
.social img:hover{
  opacity: 0.6;
}
.navsection {
	background-color: #daa33f;
	margin: 0 auto;
	min-height: 42px;
}
.navbar ul{
  list-style-type: none;
}
.navbar ul li{
  display: block;
  float: left;
  position: relative;
}
.navbar ul li a {
	background: #ad7612;
	color: #ffffff;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin: 5px;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 4px;
  -webkit-transition: .35s
  -moz-transition: .35s
  -o-transition: .35s
}
.navbar ul li a:hover,#active{background-color: #f2e3a9; color: black;}

.navbar ul li ul {
	position: absolute;
	left: -99999px;
	z-index: 61;
}
.navbar ul li:hover ul{
  left: 0px;
}
.navbar ul li ul li {
  background-color: #e6af4b;
  width: 200px;
  border-bottom: 1px solid #e6af4b;
  float: none;
  padding: 2px;
}

.contentsection{
  background-color: #eff0eb;
}
.maincontent {
	background-color: #f9c5114d;
	width: 570px;
	float: left;
	padding: 15px;
	margin: 10px;
	margin-left: 0px;
	border: 1px solid #e6af5b;
}
.about img {
	float: left;
	width: 225px;
	background: white;
	padding: 5px;
	height: 230px;
	margin-right: 10px;
}
.about p {
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
	margin-bottom: 10px;
}
input[type="text"],input[type="email"],input[type="submit"]{
  border: 1px solid #e6af4b;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 1px 10px;
  margin-bottom: 8px;
}
input[type="submit"]{
  margin-top: 10px;
  border-radius: 5px;
  background-color: #daa33f;
}
input[type="submit"]:hover{
  background: #fff; color: #000;
}

.maincontent p{
  margin-bottom: 15px;
}
.post {
	padding: 10px;
}
.post h2, .about h2 {
	border-bottom: 2px solid #f2c763;
	margin-bottom: 10px;
	color: #895200;
	padding: 3px;
}
.post img {
	float: left;
	width: 200px;
	margin-right: 10px;
	padding: 4px;
	border: 2px solid #e6af5b;
	background: #ffff;
}
.post p {
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
}
.readmore{
  margin-top: 10px;
  float: right;
}
.readmore a {
	text-decoration: none;
	display: block;
	background: white;
	padding: 5px 10px;
	font-size: 15px;
	color: #333;
	border: 1px solid #9b999a;
  border-radius: 4px;
}
.readmore a:hover {
	background: #a36c08;
	color: white;
}
.related-post{
  margin-bottom: 20px;
}
.related-post h2{
  background-color: #ad7612;
  color: #000;
  border-bottom: 2px solid #daa33f;
}
.related-post img {
	width: 169px;
	height: 100px;
	padding: 5px;
	margin: 4px;
	border: 1px solid #ad7612;
}
.related-post img:hover{
  opacity: 0.4;
}
.sidebars {
	background-color: #f2e3a9;
	width: 315px;
	float: right;
	padding: 10px;
	margin: 10px;
	margin-right: 0px;
	border: 1px solid #e6af5b;
}
.sidebar{
  margin-bottom: 15px;
}
.sidebar h2 {
	color: #050404;
	background-color: #daa33f;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.sidebar ul{
  list-style: none;
}
.sidebar ul li{
  padding: 3px;
}
.sidebar ul li a {
	text-decoration: none;
	font-size: 17px;
	color: #ad7612;
	border-bottom: 2px dashed burlywood;
}
.sidebar ul li a:hover{
  color: #000;
}
.popular-post{
  margin-bottom: 10px;
}
.popular-post h3{
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: 1px dashed #f2c763;
}
.popular-post img{
  background-color: #fff;
  padding: 5px;
  float: left;
  width: 100px;
  margin-right: 10px;
}
.footersection{
  background-color: #ad7612;
  height: 90px;
  margin-bottom: 10px;
  text-align: center;
}
.footer-menu{
  margin-top: 10px;
  width: 100%;
}
.footer-menu ul {
	list-style: none;
	margin-top: 10px;
  padding: 10px;
}
.footer-menu ul li{
  display: inline-block;

}
.footer-menu ul li a{
  text-decoration: none;
  color: white;
  background-color: #ad7612;
  padding: 10px;
  font-size: 17px;

}
.footer-menu ul li a:hover{
  background-color: #daa33f; color: #fff;
}
.footersection p{
  padding: 10px;
  font-size: 17px;
}
.fixed-icon{
  position: fixed;left: 0;top: 188px;
  width: 65px;
}
.fixed-icon img{
  width: 60px;
}
.fixed-icon img:hover{
  opacity: 0.6;
}
.maincontent p{
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
}
/* items css classes */
.items{
  margin: 0 auto;
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.items img{
  width: 400px;
  height: 250px;
  position: absolute;
}
.shadow{
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  transition: .6s;
}
.items:hover .shadow{top: 0px;}
.our-text{
  width: 200px;
  margin: 0 auto;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  margin-top: 90px;
}
.our-text h2{
  color: #fff;

}
.our-text p{
  color: #fff;
}
.google_map{}
#map{
  width: 100%;
  height: 300px;
}
.mycounter{
  margin-top: 40px;
  background: #fff;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}
